.grid_layout_container {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 50px;
    margin: 0px 100px 10px 100px;
}

.grid_layout_left {
    grid-column: 1;
}

.grid_layout_right {
    grid-column: 2 / span 2;
    margin-top: 10px;
}

.grid_card {
    margin-top: 20px;
}

.user_heading_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.admin_or_user {
    width: fit-content;
    background-color: #E6D8FF;
    color: #6B00D7;
    padding: 2px 10px;
    border-radius: 4px;
    font-family: 'SFPro Black';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.user_or_admin {
    width: fit-content;
    color: #AF7C00;
    background-color: #FFF8E1;
    padding: 2px 10px;
    border-radius: 4px;
    font-family: 'SFPro Black';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.profile_field {
    display: block !important;
}

.avatar_field {
    display: inline-block !important;
}

.avatar_span_field {
    position: relative !important;
}

.main_avatar_img {
    border-radius: 50% !important;
}

.user_fullname_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.full_name_text {
    font-family: 'SFPro Bold';
    font-size: 24px;
    text-align: center;
}

.user_id_text {
    font-family: 'SFPro Bold';
    font-size: 18px;
    text-align: center;
}

.user_status {
    position: relative !important;
}

.user_status_context {
    position: absolute;
    bottom: 20px;
    left: 70%;
    z-index: 2;
}

.main_a_title {
    font-family: 'SFPro Bold';
    font-size: 24px;
}

.list_subscribed_course {
    display: flex;
    position: relative;
    gap: 20px;
    margin-top: 15px;
}

.list_child {
    position: relative;
    min-height: 1px;
    border-radius: 15px;
    background-color: #E0ECFF;
    height: 100%;
    width: 33.333333333333333333%;
    max-width: 400px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}


.list_subscribed_course > div {
    flex: 1 1 calc((100% - 40px) / 3); /* 40px là 2 lần gap (2*20px) */
}

@media (max-width: 1899px) {
    .list_subscribed_course > div:nth-child(3) {
        display: none;
    }
    .list_subscribed_course > div {
        flex: 1 1 calc((100% - 20px) / 2); /* 20px là 1 lần gap */
    }
}

.course_main_thumbnail {
    position: relative;
}

.course_main_thumbnail .text_status {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}



.list_thumbnail {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 2/1;
    background-size: 100%;
    background-position: center;
    margin: 0;
    vertical-align: middle;
}

.course_title {
    display: -webkit-box;
    font-family: 'SFPro Bold';
    font-size: 20px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex-grow: 1;
}

.course_price {
    display: flex;
    align-items: end;
    gap: 10px;
}

.new_course_price {
    font-family: 'SFPro Black';
    font-size: 22px;
    color: #9457FF;
}

.old_course_price {
    color: #707070;
    font-size: 17px;
    font-style: normal;
    font-family: 'SFPro Bold';
    line-height: 20px;
    letter-spacing: .1px;
    text-decoration: line-through;
    margin-top: 1px;
    margin-left: 8px;
}

.expense_price {
    width: fit-content;
    background-color: #dcc7ff;
    color: #6B00D7;
    padding: 2px 10px;
    border-radius: 4px;
    font-family: 'SFPro Bold';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.course_context {
    margin: 10px;
    display: flex;
    align-items: center;
}

.course_context_main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

/* 
.progress_course {
    border-radius: 999px;
}

.progress_root {
    background-color: rgb(0 243 255);
    height: 5px;
    border-radius: 999px;
    overflow: hidden;
}

.progressbar {
    width: 80%;
    height: 100%;
    background-color: #9457FF;
    background-size: 1.25rem 1.25rem;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
    */

.see_more_course {
    display: flex;
    justify-content: flex-end;
}

.see_more {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0px;
    cursor: pointer;
}

.text_see_more {
    font-family: 'SFPro Regular Italic';
    font-size: 18px;
    color: #9457FF;
} 

.user_table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; 
    margin-top: 15px;
}

.user_headtable {
    text-align: left;
    font-family: 'SFPro Bold';
    font-size: 18px;
}

.user_headtable tr th {
    padding: 10px;
    background-color: #E0ECFF;
}

.user_tbody {
    text-align: left;
    font-family: 'SFPro Regular';
    font-size: 17px;
}

.user_tbody tr:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.user_tbody tr td {
    padding: 10px;
}
