body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SFPro Regular', sans-serif;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}
  
button {
    font-family: 'SFPro Bold';
    cursor: pointer;
}

.container_et {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding: 20px 110px 10px 110px;
}

.container_heading {
    display: flex;
}

.back_home {
    cursor: pointer;
    font-family: 'SFPro Bold';
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

.back_home:hover .subtitle_back svg {
    transform: translate(-8px)
}

.subtitle_back {
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtitle_back svg {
    margin-right: 5px;
    transition: ease .3s;
}

.wrapper_container {
    width: 100%;
    padding: 10px 0px;
}

.row_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    flex: 0 0 auto;
    width: 66.66666666667%;
}

.col_right {
    flex: 0 0 auto;
    width: 33.33333333333%;
}

.course_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.course_name_heading {
    font-family: 'SFPro Black';
    font-size: 30px;
    color: black;
    margin-top: 15px
}

.course_description {
    margin-top: 15px;
    font-family: 'SFPro Regular';
    font-size: 20px;
    color: black;
    line-height: 36px;
    text-align: justify;
}

.header_curriculum {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    background-color: white;
}

.header_curriculum h2 {
    font-family: 'SFPro Bold';
    font-size: 24px;
}

.sub_header_wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.sub_header_wrapper ul {
    display: flex;
}

.sub_header_wrapper li {
    display: inline-block;
}

.sub_header_wrapper .dot_sub {
    padding: 0 8px;
    font-size: 20px;
    opacity: 0.8;
}

.toggle_more {
    margin-left: auto;
    font-size: 20px;
    font-family: 'SFPro Bold';
    user-select: none;
    color: #003366;
    cursor: pointer;
}

.toggle_more:hover {
    color: black;
}

.cirriculum_panel {
    margin-top: 20px;
}

.panel_group .panel {
    margin-bottom: 8px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.panel_heading {
    padding: 0;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    background: #f5f5f5;
}

.panel_title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

.head_line_title {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 50px;
    font-family: 'SFPro Bold';
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.head_line_title::before {
    content: "+";
    position: absolute;
    font-size: 25px;
    font-family: 'SFPro Bold';
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
    color: #003366;
}

.time_section {
    min-width: 80px;
    margin-left: auto;
    text-align: right;
    font-size: 18px;
}